/* login.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f8f5ff;
}

.login-container{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  background:
  linear-gradient(
    135deg,

    #ffffff,

  );
}

.login-card{
  width:100%;
  max-width:400px;
  background:#fff;
  padding:40px 35px;
  border-radius:24px;
  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);
}

.login-card h2{
  text-align:center;
  font-size:32px;
  color:#222;
  margin-bottom:10px;
}

.login-subtitle{
  text-align:center;
  color:#777;
  font-size:14px;
  margin-bottom:30px;
  line-height:22px;
}

.input-group{
  margin-bottom:20px;
}

.input-group label{
  display:block;
  margin-bottom:8px;
  font-size:14px;
  color:#444;
  font-weight:500;
}

.input-group input{
  width:100%;
  padding:14px 16px;
  border-radius:14px;
  border:1px solid #d7b873;
  background:#faf7ff;
  outline:none;
  font-size:15px;
  transition:0.3s;
}

.input-group input:focus{
  border-color:hwb(41 27% 6%);
  background:#fff;
  box-shadow:
  0 0 0 4px rgba(202, 159, 95, 0.1);
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:
  linear-gradient(
    135deg,
    #efc550,
    #f7c940
  );
  color:#fff;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
  margin-top:10px;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:
  0 10px 20px rgba(255, 255, 255, 0.25);
}

@media(max-width:500px){

  .login-card{
    padding:30px 22px;
  }

  .login-card h2{
    font-size:26px;
  }

}