*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* NAVBAR */

.C-navbar{
  width:100%;
  padding:22px 8%;
  background:#633906;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
  position:sticky;
  top:0;
  z-index:100;
}

/* LOGO */

.logo{
  font-size:28px;
  font-weight:700;
  color:#c2a57c;
  letter-spacing:2px;
}

/* LINKS */

.C-nav-links{
  display:flex;
  gap:35px;
}

.C-nav-links a{
  text-decoration:none;
  color:#ffffff;
  font-size:16px;
  font-weight:500;
  transition:0.3s;
  position:relative;
}

.C-nav-links a:hover{
  color:#000;
}

/* UNDERLINE EFFECT */

.C-nav-links a::after{
  content:'';
  position:absolute;
  width:0%;
  height:2px;
  background:#111;
  left:0;
  bottom:-6px;
  transition:0.3s;
}

.C-nav-links a:hover::after{
  width:100%;
}

/* RESPONSIVE */

@media(max-width:768px){

  .C-navbar{
    flex-direction:column;
    gap:15px;
  }

  .C-nav-links{
    gap:20px;
  }

}